<style>
    html {
        margin: 0;
        padding: 0;
    }
    body {
        margin: 10px;
        padding: 10px;
        background-color: white;
        color: black;
        font-family: 'Arial', Courier;
        font-size: 15px;
        line-height: 22px;
    }
    h1 {
        font-size: huge;
        line-height: 110%;
        padding: 0;
        margin: 0;
    }
    h2 {
        font-size: larger;
        padding: 0;
        margin: 0;
        border-top: 1px solid black;
    }
    .h2-accent {
        color: orange !important;
    }
    h3 {
        font-style: bold;
        padding: 0;
        margin: 0;
        margin: 0;
    }
    ul {
        padding: 0 10px;
        margin: 0 20px;
    }
    li {
        padding: 0;
        margin: 10px 0;
    }
    a {
        color: blue;
        font-weight: bold;
    }
    a:hover {
        color: darkblue;
    }
    a:visited {
        color: darkblue;
    }
    a:visited:hover {
        color: blue;
    }
    .a-no-style {
        text-decoration: none;
    }
    pre {
        display: block;
        border: 2px outset black;
        padding: 10px;
        max-height: 10em;
        overflow-y: scroll;
        font-size: inherit;
    }
    .blockquote {
        display: block;
        border: 2px outset black;
        padding: 10px;
    }
    .center-text {
        display: block;
        text-align: center;
    }
    img {
        display: block;
        position: relative;
        margin-left: 50%;
        transform: translate(-50%, 0);
        max-width: 50%;
    }
    div {
        padding: 10px;
    }
    .container {
        margin: 10px auto 0 auto;
        border: 2px solid black;
        padding: 20px;
        width: 90%;
        max-width: 850px;
    }
    @media only screen and (max-width: 870px) {
        body {
            padding: 0px;
        }
        .container {
            margin: 2px auto 0 auto;
            width: 85%;
        }
    }
    #top {
        box-sizing: content-box;
    }
    #content {
        white-space: break-spaces;
    }
    #bottom {
        margin-bottom: 10px;
    }
</style>
